body {
    margin: 0;
    margin-top: 50px;
    font-family: sans-seriComic Sans MS;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: rgb(255, 255, 255);
}

header * {
    display: inline;
    height: 50px;
}

header ul {
    padding: 0;
}

header li {
    margin-left: 20px;
}

section {
    height: 100vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background-size: cover; /* Add this line */
    background-position: center center; /* Add this line */
    background-repeat: no-repeat; /* Add this line */
    background-attachment: fixed; /* Add this line */
}


footer {
    text-align: center;
    padding: 50px;
}

#about h1 {
    font-size: 2em;
}

#about {
    color: azure;
}

section h2 {
    font-size: 2em;
    color: azure;
}

#best {
    color: azure;
}

section h3 {
    font-size: 2em;
}

#why p {
    font-size: 1,5em;
}

#why {
    color: azure;
}

header a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

/* Add everything below here */

#about {
    background-image: url('https://images2.minutemediacdn.com/image/upload/c_fill,g_auto,h_1248,w_2220/v1555357621/shape/mentalfloss/northernlights.jpg?itok=zVLQZP-3');
}

#best {
    background-image: url('https://wallpapers.net/web/wallpapers/northern-lights-hd-wallpaper/thumbnail/lg.jpg');
}

#why {
    background-image: url('https://www.desktopbackground.org/download/1920x1080/2013/06/01/585347_best-northern-lights-hd-wallpapers_2048x1925_h.jpg');